# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/WinShell/.vs/WinShell/FileContentIndex/b060060a-fa58-42cd-8b40-4a94fdead7a9.vsidx
/WinShell/.vs/WinShell/FileContentIndex/c32071ca-0648-482e-a765-11f2c4d9e991.vsidx
/WinShell/.vs/WinShell/FileContentIndex/f70cd584-a40f-4b94-8627-a7f226f6b136.vsidx
/WinShell/.vs/WinShell/v17/.suo
/WinShell/.vs/WinShell/v17/Browse.VC.db
/WinShell/.vs/WinShell/v17/ipch/AutoPCH/460c91a310494f9f/ENTRY.ipch
/WinShell/.vs/WinShell/v17/ipch/AutoPCH/e1182699f4283c7a/SHADER.ipch
/WinShell/WinShell/x64/Debug/Entry.obj
/WinShell/WinShell/x64/Debug/WinShell.ilk
/WinShell/WinShell/x64/Debug/WinShell.tlog/CL.read.1.tlog
/WinShell/WinShell/x64/Debug/WinShell.tlog/WinShell.lastbuildstate
/WinShell/WinShell/x64/Debug/WinShell.tlog/link.read.1.tlog
/WinShell/WinShell/x64/Debug/glad.obj
/WinShell/WinShell/x64/Debug/vc143.idb
/WinShell/WinShell/x64/Debug/vc143.pdb
/WinShell/x64/Debug/WinShell.exe
/WinShell/x64/Debug/WinShell.pdb
/WinShell/.vs/WinShell/FileContentIndex/0d458201-bc86-49c1-aafe-cc10380575b5.vsidx
/WinShell/.vs/WinShell/FileContentIndex/654a5cba-8589-49d0-99df-ac423ace9153.vsidx
/WinShell/.vs/WinShell/FileContentIndex/916890cc-7f18-45b9-84fe-1087428fd1a9.vsidx
/WinShell/.vs/WinShell/v17/Browse.VC.db-shm
/WinShell/.vs/WinShell/v17/Browse.VC.db-wal
/WinShell/.vs/WinShell/v17/Browse.VC.opendb
